<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/styles_C.css" />

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<div class="container">
  <div class = "menu">
    <div class="tab">
      <button class="tablinks" onclick="location.href='/'">Home</button>
      <button class="tablinks" onclick="location.href='starplot'">Starplot</button>
      <button class="tablinks" onclick="location.href='barcharts'">Barcharts</button>
      <button class="tablinks" onclick="location.href='index'">Kuzons profile</button>
      <button class="tablinks" onclick="location.href='content'">Sneakybastards profile</button>
      <button class="tablinks" onclick="location.href='procomparison'">Pro comparison</button>
    </div>
  </div>
  <div class="bargraphcontainer"
      <div class="row">
        <div class="col-md-6">
          <div class="barhomepagebox">
           <p class="titleText"> Choose what graph you want to show! </p>
           <form method="post">
             <input class = "barbuttons" type="submit" name="sneakylastgame" value="Sneakybastards last game">
             <input class = "barbuttons" type="submit" name="kuzonlastgame" value="Kuzons last game">
             <input class = "barbuttons" type="submit" name="sneakyandkuzon" value="Both players">
             <input class = "barbuttons" type="submit" name="kuzonwinsandlosses" value="Kuzons win/loss">
             <input class = "barbuttons" type="submit" name="sneakywinsandlosses" value="Sneakybastards win/loss">
             <input class = "barbuttons" type="submit" name="EverystatKuzon" value="All stats for Kuzon">
             <input class = "barbuttons" type="submit" name="EverystatSneaky" value="All stats for Sneakybastard">
           </form>
       </div>
     </div>
      </div>
    </div>
</div>


</body>
</html>
