<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Starplot</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/style.css" />
</head>
<body>
<div class="container">
    <div class = "menu">
      <div class="tab">
        <button class="tablinks" onclick="location.href='index'">Home</button>
        <button class="tablinks" onclick="location.href='starplot'">Star</button>
        <button class="tablinks" onclick="location.href='barcharts'">Barcharts</button>
      </div>
    </div>

    <div id="Home" class="tabcontent">
      <h3>Hello Kuzon</h3>
      <p>What graph do you wanna use to compare.</p>
    </div>
    <div id="Star" class="tabcontent">
    </div>
    <div id="Bars" class="tabcontent">
    </div>
</div>


</body>
</html>
