<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Starplot</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/style.css" />
</head>
<body>
<div class="container">
    <div class = "menu">
      <div class="tab">
        <button class="tablinks" onclick="location.href='/'">Home</button>
        <button class="tablinks" onclick="location.href='starplot'">Starplot</button>
        <button class="tablinks" onclick="location.href='barcharts'">Barcharts</button>
        <button class="tablinks" onclick="location.href='index'">Kuzons profile</button>
        <button class="tablinks" onclick="location.href='content'">Sneakybastards profile</button>
        <button class="tablinks" onclick="location.href='procomparison'">Pro comparison</button>
      </div>
    </div>
      <div class="basicInfo">
        <div class="upperBox">
        <div class="avatarPic">
          <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/06/068d73421a468fb35ab3d8f88a7a4d5c1bcaa1c5_full.jpg"/>
        </div>
        <div class="introPage">
          <p class="titleText">Sneakybastard</p>
          <p class="smallerText">Steam player with 14 recorded games togheter.</p>
          <p class="smallerText">Use the tabs Starplot and Barcharts to compare how you play!</p>
        </div>
        </div>
      </div>
      <div class="rankinfo">
        <div class="middleBar">
        <div class="titleBar">
        <p class="titleText">Rank distribution</p>
        </div>
        <div class="rankicons">
        <div class="ranked">
          <p class="rankText">Rank in 1v1:</p>
          <img class="GCicon" src="https://ballchasing.com/static/ranks/16.png">
          <p class="rankText">Champion I (4.79%)</p>
        </div>
        <div class="ranked">
          <p class="rankText">Rank in 2v2:</p>
          <img class="GCicon" src="https://ballchasing.com/static/ranks/18.png">
          <p class="rankText">Champion II (1.39%)</p>
        </div>
        <div class="ranked">
          <p class="rankText">Rank in 3v3:</p>
          <img class="GCicon" src="https://ballchasing.com/static/ranks/19.png">
          <p class="rankText">Grand Champion (0.42%)</p>
        </div>
        </div>
        </div>
    </div>
</div>


</body>
</html>
