<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Starplot</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/style.css" />
<script src="./static/scripts.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
  <!--
  <div class="topIcon">
  <img src="./static/images/icon.png" id="icon">
</div> -->
  <div class = "menu">
    <div class="tab">
      <button class="tablinks" onclick="location.href='/'">Home</button>
      <button class="tablinks" onclick="location.href='starplot'">Starplot</button>
      <button class="tablinks" onclick="location.href='barcharts'">Barcharts</button>
      <button class="tablinks" onclick="location.href='index'">Kuzons profile</button>
      <button class="tablinks" onclick="location.href='content'">Sneakybastards profile</button>
      <button class="tablinks" onclick="location.href='procomparison'">Pro comparison</button>
    </div>
  </div>
  <div class="infoText">
    <div class="upperBoxStar">
    <div class="introPageStar">
      <p class="titleText">Star plot of average stats of the games togheter.</p>
      <p class="smallerText">If you wanna display a specific correlation you can use the dropdown menues to change stats to visualize.</p>
      <p class="smallerText"> We have also included some correlations we think are interesting just press the "Visualize for me" button!</p>
    </div>
    </div>
  </div>
  <div class="starcontainer">
    <div class="row">
        <div class="col-md-6">
          <form action="{{url_for('update_star_plot')}}" method="post" class="starForm">
            <div class="selects">
              <div id="boxstat1">
              <h4>Stat 1: </h4>
              <select id="stat1" name="Offensive" class="starSelect" onchange="this.form.submit();checkstat1();return false;">
                <option value="goals">Goals</option>
                <option value="shots">Shots</option>
                <option value="assists">Assists</option>
                <option value="shooting percentage">Shooting percentage</option>
                <option value="saves">Saves</option>
                <option value="bpm">Boost used per minute</option>
                <option value="avg speed">Average speed</option>
                <option value="score">Score</option>
                <option value="demos inflicted">Demos inflicted</option>
                <option value="demos taken">Demos taken</option>
              </select>
              </div>

              <div id="boxstat2">
              <h4>Stat 2: </h4>
              <select id="stat2" name='Defensive' class="starSelect" onchange="this.form.submit();checkstat2();return false;">
                <option value="goals">Goals</option>
                <option value="shots">Shots</option>
                <option value="assists">Assists</option>
                <option value="shooting percentage">Shooting percentage</option>
                <option value="saves">Saves</option>
                <option value="bpm">Boost used per minute</option>
                <option value="avg speed">Average speed</option>
                <option value="score">Score</option>
                <option value="demos inflicted">Demos inflicted</option>
                <option value="demos taken">Demos taken</option>
              </select>
              </div>


              <div id="boxstat3">
              <h4>Stat 3: </h4>
              <select id="stat3"name="Positioning" class="starSelect" onchange="checkstat3();this.form.submit();">
                <option value="percentage defensive third">% Defensive third</option>
                <option value="percentage neutral third">% Neutral third</option>
                <option value="percentage offensive third">% Offensive third</option>
                <option value="percentage behind ball">% behind the ball</option>
                <option value="goals">Goals</option>
                <option value="shots">Shots</option>
                <option value="assists">Assists</option>
                <option value="shooting percentage">Shooting percentage</option>
                <option value="saves">Saves</option>
              </select>
              </div>

            <div class="selects">
              <div id="boxstat4">
              <h4>Stat 4: </h4>
              <select id="stat4" name="Misc" class="starSelect" onchange="checkstat4();this.form.submit();">
                <option value="demos inflicted">Demos inflicted</option>
                <option value="demos taken">Demos taken</option>
                <option value="count stolen big pads">Stolen big pads</option>
                <option value="goals">Goals</option>
                <option value="shots">Shots</option>
                <option value="assists">Assists</option>
                <option value="shooting percentage">Shooting percentage</option>
                <option value="saves">Saves</option>
                <option value="bpm">Boost used per minute</option>
              </select>
            </div>
            <div id="boxstat5">
              <h4>Stat 5: </h4>
              <select id="stat5" name="Speed" class="starSelect" onchange="checkstat5();this.form.submit();">
                <option value="goals">Goals</option>
                <option value="shots">Shots</option>
                <option value="assists">Assists</option>
                <option value="shooting percentage">Shooting percentage</option>
                <option value="saves">Saves</option>
                <option value="bpm">Boost used per minute</option>
                <option value="demos inflicted">Demos inflicted</option>
                <option value="demos taken">Demos taken</option>
                <option value="percentage supersonic speed">% Supersonic speed</option>
                <option value="avg speed">Average speed</option>
                <option value="score">Score</option>
              </select>
            </div>
              <!---<input type="submit" value="Update" class = "inputStar">--->
            </div>
            </div>
            </form>
        </div>
        <div class="imgContainer">
            <img src={{url}}>
            <img src={{url2}} alt="Chart" onerror="this.style.visibility = 'hidden'">
        </div>
        <div class="lowerButton">
          <form action="{{url_for('own_star_plots')}}" method="post">
          <button class="favorite styled"
            type="submit">
              VISUALIZE FOR ME :D
          </button>
          </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
