<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rocket Rivals</title>
    <title>Starplot</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/style.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
      <img src="./static/images/vitbg1.png" alt="icon">
    </div>
    <div class="searchArea">
      <form action="{{url_for('home_page')}}" method="POST">
      <label for="uname">Search for player:</label>
      <input type="text" id="uname" name="uname"><br><br>
      </form>
    </div>
</div>

</body>
</html>
