<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
          
          <form method="post">
          <input type="submit" name="sneakylastgame" value="sneakylastgame">
          <input type="submit" name="kuzonlastgame" value="kuzonlastgame">
          <input type="submit" name="sneakyandkuzon" value="sneakyandkuzon">
          <input type="submit" name="winsandlosses" value="winsandlosses">
          </form>
          
          <p> This is a graph about speed </p>
            <div class="chart" id="bargraph">
              </div>
              
               <p> This is a graph about time in air </p>
              <div class="chart" id="bargraph2">
                </div>
               
                 <p> This is a graph about defensive stats </p>
                <div class="chart" id="bargraph3">
                  </div>
             
            
              <script>

                  var graph1 = {{plot1 | safe}};
                  var graph2 = {{plot2| safe}};
                  var graph3 = {{plot3| safe}};


                  Plotly.plot('bargraph',graph1,{});
                  Plotly.plot('bargraph2', graph2,{});
                  Plotly.plot('bargraph3', graph3,{});
              </script>

          

            </div>
            </div>
      
</div>


</body>
</html>
