<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/styles_C.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<div class="container">
  <div class = "menu">
    <div class="tab">
      <button class="tablinks" onclick="location.href='index'">Home</button>
      <button class="tablinks" onclick="location.href='starplot'">Star</button>
      <button class="tablinks" onclick="location.href='barcharts'">Barcharts</button>
    </div>
  </div>
  <div class="bargraphcontainer">
    <div class="row">
      
        <div class="col-md-6">
          <form method="post">
            <input class = "barbuttons" type="submit" name="sneakylastgame" value="sneakylastgame">
            <input class = "barbuttons" type="submit" name="kuzonlastgame" value="kuzonlastgame">
            <input class = "barbuttons" type="submit" name="sneakyandkuzon" value="sneakyandkuzon">
            <input class = "barbuttons" type="submit" name="kuzonwinsandlosses" value="kuzonwinsandlosses">
            <input class = "barbuttons" type="submit" name="sneakywinsandlosses" value="sneakywinsandlosses">
            <input class = "barbuttons" type="submit" name="EverystatKuzon" value="EverystatKuzon">
            <input class = "barbuttons" type="submit" name="EverystatSneaky" value="EverystatSneaky">
          </form>
          <p>{{ data }}</p>
          <!--<p>{{data}}</p>-->
          <p> Speed comparison </p>
            <div class="chart" id="bargraph">
            </div>

            <p> time in air comparison </p>
            <div class="chart" id="bargraph2">
            </div>

            <p> defensive stats comparison </p>
            <div class="chart" id="bargraph3">
            </div>
            <script>
                var graph1 = {{plot1 | safe}};
                var graph2 = {{plot2| safe}};
                var graph3 = {{plot3| safe}};
                Plotly.plot('bargraph',graph1,{});
                Plotly.plot('bargraph2', graph2,{});
                Plotly.plot('bargraph3', graph3,{});
            </script>
            </div>
          </div>
      </div>
</div>


</body>
</html>
