<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Rocket Rivals</title>
    <title>Starplot</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/style.css" />
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/styleeffects.css" />
    <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>
<body>
<div class="container">
    <div class="header">
      <img src="./static/images/vitbg1.png" alt="icon">
    </div>

    <div class="searchArea">
          <div id="colinput-effect" class="col-3 input-effect">
            <label>Search for player:</label>
              <form action="{{url_for('home_page')}}" method="POST">
                <input class="effect-18" type="text" placeholder="">
                <label for="uname">Find player:</label>
                <span class="focus-border">
                <i></i>
              </form>
          </div>
    </div>
</div>
    <script src="./static/scripts.js" type="text/javascript"></script>
</body>
</html>
