<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "./static/styles_C.css" />


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<div class="container">
  <div class = "menu">
    <div class="tab">
      <button class="tablinks" onclick="location.href='/'">Home</button>
      <button class="tablinks" onclick="location.href='starplot'">Starplot</button>
      <button class="tablinks" onclick="location.href='barcharts'">Barcharts</button>
      <button class="tablinks" onclick="location.href='index'">Kuzons profile</button>
      <button class="tablinks" onclick="location.href='content'">Sneakybastards profile</button>
      <button class="tablinks" onclick="location.href='procomparison'">Pro comparison</button>
    </div>
  </div>
  <div class="procomparisoncontainer">

      <p>{{ data }}</p>
        <p>{{ data2 }}</p>
        <p>{{ data3 }}</p>
        <p>{{ data4 }}</p>
        <p>{{ data5 }}</p>
        <p>{{ data6 }}</p>

        <img src={{url}}>

  </div>


</body>
</html>
